<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/header') %>
        <title>Blog</title>
        <style>
            .viewblogcon {
                margin-top: 20px;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 10px;
            }
        </style>
</head>

<body>
    <%- include('./partials/nav') %>
        <div class="user mt-3 ms-2">
            <img src="<%= blog.createdBy.profileImageURl %>" id="userimage" height="50px">
            <label for="userimage">
                <%=blog.createdBy.fullName %>
            </label>
        </div>
        <div class="viewblogcon">
            <img src="<%= blog.coverImgUrl %>" width="600vw">
            <h1>
                <%= blog.title %>
            </h1>
            <p style="margin: 20px;">
                <%= blog.body %>
            </p>
        </div>
        <div class="comment">
            <h1>Comments (<%=comments.length %>)</h1>
            <% if (locals.user) { %>
                <form action="/blog/comment/<%= blog._id %>" method="post">
                    <div class="mb-3 ms-2 me-4">
                        <label for="content" class="form-label">Enter your Comments</label>
                        <textarea class="form-control " name="content" id="content" rows="1"></textarea>
                        <button type="submit" class="btn btn-outline-info">Add</button>
                    </div>
                </form>
                <% } %>
                <% if (locals.comments) { %>
                <% comments.forEach(comment => { %>
                    <div class="p-3 bg-info bg-opacity-10 border border-info border-start-0 rounded-end mb-3 ms-3 me-3">
                                <img src="<%= comment.createdby.profileImageURl%>" id="userimage" height="50px">
                                <label for="userimage">
                                    <%=comment.createdby.fullName %>
                                </label>
                                    <pre>         <%= comment.content %></pre>
                                </div>
                                <% }) %>
                                <% } %>
        </div>

        <%- include('./partials/scripts') %>
</body>

</html>